.table thead.th-center th {
    text-align: center;
    vertical-align: middle !important;
}

.skin-blue .main-header .navbar {
    background-color: #c74332 !important;
}

.skin-blue .main-header .logo {
    background-color: #a93636 !important;
}

.skin-blue .sidebar-menu>li.active>a {
    border-left-color: #bc3c3c !important;
}

.dropzone-npl {
    background: white;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
    border-image: none;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
